@use "variables" as variables;

@mixin box($width, $height:$width){
    width: $width;
    height: $height;
}
@mixin flex($flow: row nowrap, $align: flex-start, $just: flex-start){
    display: flex;
    flex-flow: $flow;
    align-items: $align;
    justify-content: $just;
}
@mixin text($fontsize: variables.$text-unit){
    font-size: calc(variables.$text-unit * $fontsize);
    line-height: calc(calc(variables.$text-unit * $fontsize) * 1.4);
}
@mixin position($position: relative, $top: initial, $right: initial, $bottom: initial, $left: initial){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
// Pour faire rapidement des prefixes pour les différents navigateur
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
   
    #{$property}: $value;
}